<%- include('partials/header') -%>
  
<!-- Product Start -->
<ul class="">
  <% for(var i=0; i<posts.length; i++) {%>
    <li class="">
      <div class="mx-auto max-w-screen-lg my-4 flex bg-slate-300 rounded-lg p-3 text-white flex-col pt-10">

        <div class="w-full  flex flex-row ">
          <a href="/post/<%= posts[i]._id%>">
            <img class="h-52 rounded-lg max-w-sm grow-0 " src="<%= posts[i].image%>" alt="">
          </a>

          <div class="flex flex-col justify-between">
            <h3 class="ml-3 text-sky-700 grow-1"> <span class="bold text-black">Discription:</span> <%= posts[i].description%></h3>
            <h3 class="mx-3 text-black"><span class="bold">Price:</span><%= posts[i].price%></h3>
          </div>
        </div>
        
        <div class="flex justify-end ">
        <button class="bg-orange-500 p-2 rounded-lg">Delete</button>
        </div>



      </div>
    </li>
  <% } %>
</ul>
<!-- Product End -->



<%- include('partials/footer') -%>