<%- include('partials/header') -%>
<div class="mainContainer mt-7 flex justify-center">
  <div class="contentUnderHeader w-4/5">
    <!-- <h2 class="productTitle text-3xl text-center font-bold">
      <%= product.title %>
    </h2> -->
    <div class="productImage&BuyButtons float-left">
      <div class="itemPicture&BuyButtons">
        <img
          class="img-fluid"
          src="<%= product.image%>"
          width="512"
          height="512"
        />
      </div>
      <div class="buyButtons items-center justify-center text-center mt-7">
        <div class="buyNowButton">
          <button
            type="submit"
            class="w-4/5 text-center py-2 bg-amber-400 mt-2 rounded hover:bg-amber-200 transition shadow-xl"
          >
            Buy Now
          </button>
        </div>
        <div class="addToCartButton">
          <button
            type="submit"
            class="w-4/5 text-center py-2 bg-amber-400 mt-2 rounded hover:bg-amber-200 transition shadow-xl"
          >
            Add to Cart
          </button>
        </div>
      </div>
    </div>
    <div class="col productInfo float-right mt-11 xs:w-full">
      <div class="titleOfItem">
        <h3 class="text-2xl"><%= product.title %></h3>
      </div>
      <div class="priceOfItem">
        <p class="text-lg">$<%= product.price %></p>
      </div>
      <div class="descriptionOfItem mt-7 mb-5 sm:w-2/5">
        <!-- <p><%= product.description %></p> -->
        <p class="mb-5">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid,
          illo assumenda. Accusantium asperiores reiciendis vero praesentium!
          Velit exercitationem, harum nesciunt quisquam possimus commodi ipsa
          minus. Asperiores fuga recusandae numquam ullam?
        </p>
        <p class="mb-5">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid,
          illo assumenda. Accusantium asperiores reiciendis vero praesentium!
          Velit exercitationem, harum nesciunt quisquam possimus commodi ipsa
          minus. Asperiores fuga recusandae numquam ullam?
        </p>
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer') -%>
